/* @import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variable Storage */
:root {
    --off-black: #454545;
    --background: #fffbf4;
    --element: #f6eee1;
}

/* Root Definitions */
body {
    font-family: 'Lora', serif;
    font-size: 13.5px;
    
    background-color: var(--background);
    color: var(--off-black);
    padding: 0vh 4vh 4vh 4vh;
}

header {
    height: 10vh;
    padding-left: 1em;

    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 4em;
    font-weight: 700;
    
    color: rgba(0, 0, 0, 0);
    
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.2em;
}

h3 {
    font-size: 1.1em;
    font-weight: 500;

    line-height: 1.5;

    padding-bottom: 0.5em;
}

h4 {
    font-size: 0.9em;
    font-weight: 400;

    padding-top: 0.7em;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 100%;

    box-shadow: 5px 1px 25px -14px rgba(0, 0, 0, 0.6) inset;
}

#content {
    height: 86vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 1.5em;

    grid-template-areas: 'day day blank blank gallery gallery gallery'
                         'day day blank blank gallery gallery gallery'
                         'day day other locate locate locate locate'
                         'day day other locate locate locate locate'
                         'day day other locate locate locate locate';
}

#content .element {
    padding: 2em 0em;
    border-radius: 2em;

    background-color: var(--element);
    overflow-y: scroll;    
}

.day {
    grid-area: day;
}

.blank {
    grid-area: blank;
}

.gallery {
    grid-area: gallery;
}

.other {
    grid-area: other;
}

.locate {
    grid-area: locate;
    display: flex;
    padding: 0!important;
}

/* #elementHeader{
    display: flex;
    justify-content: space-between;

    padding: 0em 2em;
    margin-bottom: 1.5em;
} */

.elementHeader {
    display: flex;
    justify-content: space-between;

    padding: 0em 2em;
    margin-bottom: 1em;
}

/* Gallery */

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'one two two three three four';
    column-gap: 0.7em;

    /* padding-top: 1em; */
}

.picture {
    background-color: white;
    height: 100%;
}

.photos :first-child {
    background-color: white;
}

/* On This Day */

.dayRecord {
    /* border-top: 1.5px var(--off-black) solid; */

    padding: 1.3em 2em;
}

.dayRecord:hover {
    background-color: var(--background);
}

.bottomRecord {
    /* border-bottom: 1.5px var(--off-black) solid; */
}

.recordSummary {
    /* text-align: justify; */

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Location Search */

.sidebar {
    width: 32%;

    overflow-y: scroll;
}

.sidebarTitle {
    padding: 1.5em 0.5em 1em 1.5em;
}

.map {
    width: 68%;
    background-color: #a3bff4;
}

.placeRecord {
    padding: 1em 1em 1em 2em;
}

.placeRecord:hover {
    background-color: var(--background);
}

.dayRecordSummary {
    text-align: justify;
}